<html>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<script type="text/javascript">

var current_id = 0;

$(document).ready(function (){    
	setInterval(table, 500);
});

function table(){
	if (current_id >=100)
		return; 
	current_id = current_id + 1;
	$.get("/home/retRows?id="+current_id, function(data) {
		var row = "<tr>"
				 	+ "<td>" + data[0].primary_k + "</td>"
				 	+ "<td>" + data[0].Title + "</td>"
				 	+ "<td>" + data[0].Year + "</td>"
					+ "</tr>";
        if(current_id>=21) {
        	$("#mytable tr:nth-child(2)").remove();	
        }
        $("#mytable tr:last").after(row);
    });
}

</script>

<table id="mytable">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Year</th>
	</tr>
</table>

</html>