<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body align="center" style="padding-top:50px">
    <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SXC3409-Project 2</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
   
  </div>
</div>
<div class="container">	

<title>CSE5335-SXC3409-2 </title>
<h2>Ajax demo using Rails and JQuery!</h2>


<input type="button" class="btn btn-primary"  Value="Get table" onclick="onclk()" id="btn">
<br>
<br>

<div></div>


    
<center>
 <table class="table table-striped table table-bordered" id="mytable" style="width:700px;">
	
</table>
</center>

<style>
	th {text-align: center;}
  .table>tbody>tr>td, .table>tbody>tr>th {
     padding: 0px 15px;
  }
</style>


<script type="text/javascript">

var current_id = 0;

function onclk(){
  heading = "<tr><th>ID</th><th>Title</th><th>Year</th></tr>";
  $("#mytable").append(heading);	
  setInterval(table, 500);
}

function table(){
	if (current_id >=100)
		return; 
	current_id = current_id + 1;
	$.get("/home/retRows?id="+current_id, function(data) {
		var row = "<tr>"
				 	+ "<td>" + data[0].primary_k + "</td>"
				 	+ "<td>" + data[0].Title + "</td>"
				 	+ "<td>" + data[0].Year + "</td>"
					+ "</tr>";
        if(current_id>=21) {
        	$("#mytable tr:nth-child(2)").remove();	
        }
        $("#mytable tr:last").after(row);
    });
}

</script>


</body>
</html>